<script>
  import Button from "../components/Button.svelte";

  let element = "button";

  let button = Button;
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<svelte:element
  this={element}
  href="#"
  on:click|preventDefault={() => {
    element = element === "button" ? "a" : "button";
  }}>Convert to {element === "button" ? "link" : "button"}</svelte:element
>

<svelte:component this={button}>Botón 1</svelte:component>
<svelte:component this={button}>Botón 2</svelte:component>
