<script>
  import settings from "../stores/settings";
  </script>
<h2>Settings</h2>

<label>
    <input type="radio" name="colorSchema" value="dark" bind:group={$settings.colorSchema}>
    Dark
</label>

<label>
    <input type="radio" name="colorSchema" value="light" bind:group={$settings.colorSchema}>
    Light
</label>

{#if $settings.colorSchema !== "dark"}
    <!--CUIDADO: la llamada a updateSetting es sin $-->
    <button on:click={() => settings.updateSetting("colorSchema", "dark")}>Set dark</button>    
{/if} 

{#if $settings.colorSchema !== "light"}
    <button on:click={() => settings.updateSetting("colorSchema", "light")}>Set Light</button>
{/if}

<button on:click={() => settings.reset()}>Reset</button>