<script>
  import { getContext, onMount } from "svelte";
    import {v4 as uuid} from "uuid";
  import { formKey } from ".";

    export let name;
    export let label = undefined;
    export let type = "text";
    export let validate = undefined;

    const id = uuid();

    const formStore = getContext(formKey);

    let isDirty = false;

    onMount(() => {
        const error = validate && validate($formStore.values[name], label);
        if (error) {
            $formStore.errors[name] = error; 
        }
    })
    
</script>

<div>
    {#if label}
        <label for={id}>{label}</label>
    {/if}
    <!--bind:value={$formStore.values[name]} No funciona si la propiedad es dinámica-->
    <input {name} {id} {type} placeholder={label || name} 
    value={$formStore.values[name] || ""}    
        on:input={e => {
            isDirty = true;
            const value = e.currentTarget.value;
            const error = validate && validate(value, label);
            if (error) {
                $formStore.errors[name] = error; 
            } else {
                delete $formStore.errors[name];
            }
            $formStore.values[name] = value;
        }}
    />
    {#if $formStore.errors[name] && (isDirty || $formStore.showErrors)}
        <slot name="error" error={$formStore.errors[name]}>
            <p class="error">{$formStore.errors[name]}</p>
        </slot>
        
    {/if}
</div>

<style>
    .error {
        color: red;
    }
</style>