<script>
    import { setContext, createEventDispatcher } from "svelte";
    import { formKey } from ".";
    import { writable } from "svelte/store";

    export let initialValues = {};

    const dispatch = createEventDispatcher();

    // En svelte los contextos so son reactivos. Lo combinamos con un store para que sea reactivo
    const formStore = writable({values: initialValues, errors: {}, showErrors: false});
    
    setContext(formKey, formStore);

    $: hasErrors = Object.keys($formStore.errors).length > 0;
</script>
<pre>
    {JSON.stringify($formStore, null, 2)}
</pre>
<form on:submit|preventDefault={() => {
    $formStore.showErrors = true;
    if (Object.keys($formStore.errors).length === 0) {
        dispatch("submit", $formStore.values);
    }
}}>
    <slot {hasErrors}/>
</form>