<script>
  import { onMount } from "svelte";
  import Home from "./lib/pages/Home.svelte";
  import Settings from "./lib/pages/Settings.svelte";
  import settings from "./lib/stores/settings";

  let page;

  function onRouteChange() {
   const path = window.location.hash.slice(1)
   if (path === "/") {
     page = "home";
   } else if (path === "/settings") {
    page = "settings"
   } else {
    window.location.hash = "/";
   }
  }

  onMount(onRouteChange);
</script>

<svelte:window  on:hashchange={onRouteChange}/>
<svelte:head>
  {#if $settings.colorSchema === "dark"}
    <style>
      :root {
       --backgroundColor: black;
        --textColor: white;
      }
    </style>
  {:else}
    <style>
      :root {
       --backgroundColor: white;
        --textColor: black;
      }
    </style>
  {/if}

</svelte:head>

<nav>
  <a href="#/">Home</a>
  <a href="#/settings">Settings</a>
</nav>

{#if page == "home"}
  <Home />  
{:else if page == "settings"}
  <Settings />
{/if}