<script context="module">
  let buttons = new Set();
</script>

<script>
  import { onDestroy, onMount } from "svelte";

  let button;

  function enable() {
    buttons.forEach((b) => {
      b.disabled = button === b;
    });
  }

  onMount(() => {
    buttons.add(button);
  });

  onDestroy(() => {
    buttons.delete(button);
  });
</script>

<button {...$$restProps} bind:this={button} on:click={enable}>
  <slot />
</button>
